@{
  Layout = "_Layout";
}

@model AudionClient.Models.Question

<h2>Question Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Text): @Html.DisplayFor(model => model.Text)</h3>

@if(@Model.Responses.Count == 0)
{
  <p>This Question does not have any Responses</p>
}
else
{
  <h4>This Question's Responses:</h4>
  <ul>
  @foreach(var join in Model.Responses)
  {
    <li>@join.Text</li>
    @using (Html.BeginForm("DeleteResponse", "Questions"))
    {
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<p>@Html.ActionLink("Add your response", "Create", "Responses", new { questionId = Model.QuestionId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Question", "Edit", new { id = Model.QuestionId })</p>
<p>@Html.ActionLink("Delete Question", "Delete", new { id = Model.QuestionId })</p>