@{
  Layout = "_Layout";
}
@using AudionClient.Models
@* @model AudionClient.Models.Question; *@
@using System.Security.Claims
@model IEnumerable<AudionClient.Models.Question>

@* <div class="jumbotron">
<h3>@Html.DisplayFor(model => model.Text)</h3>
</div> *@

@* <p>@Model.Text</p> *@

@* <p>@Html.ActionLink("Add your response", "Create", "Responses")</p> *@

<p>Questions:</p>
@if (Model.Any())
{
  <ul>
    @foreach (Question question in Model)
    {
      <li>@Html.ActionLink($"{question.Text}", "Details", new { id = question.QuestionId })</li>
    }
  </ul>
} 
else
{
  <h3>No Questions have been added yet!</h3>
}

<p>@Html.ActionLink("Add new Question", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>