@{
  Layout = "_Layout";
}
@using System
@using AudionClient.Models
@model AudionClient.Models.UserResponse


<h1>Add a new Response</h1>
questionId = @ViewBag.questionId
@using (Html.BeginForm())
{
    
    <input type="hidden" name="questionId" value="@ViewBag.questionId">
    @Html.HiddenFor(model => model.Timestamp, new { @Value=System.DateTime.Now })
    @* @Html.HiddenFor(questionId = @Question.questionId)   *@
    
    @* @Html.LabelFor(model => model.Text) *@
    @* <label>Response</label> *@
    @Html.TextAreaFor(model => model.Text, new {@class = "text"})
    <br>
  <div class="row">
    <div class="col-md-2">
    @Html.LabelFor(model => model.Age, new { @class="label"})
    <br>
    <label>Under 25</label>
    @Html.RadioButtonFor(model => model.Age, 1)
    <br>
    <label>Between 25 and 50</label>
    @Html.RadioButtonFor(model => model.Age, 2)
    <br>
    <label>Over 50</label>
    @Html.RadioButtonFor(model => model.Age, 3)
    </div>

    <div class="col-md-2">
    @Html.LabelFor(model => model.Gender, new { @class="label" })
    @Html.TextBoxFor(model => model.Gender)
    </div>

    <div class="col-md-3">
    @Html.LabelFor(model => model.Region, new { @class="label" })
    <br>
    @* @Html.TextBoxFor(model => model.Region, new { @value="Southeast"}) *@
    @* @Html.LabelFor(model => model.Region, "Northwest") *@
    <label>Northwest</label>
    @Html.RadioButtonFor(model => model.Region, "Northwest")
    <br>
    <label>Northeast</label>
    @Html.RadioButtonFor(model => model.Region, "NorthEast")
    <br>
    <label>Southwest</label>
    @Html.RadioButtonFor(model => model.Region, "Southwest")
    <br>
    <label>Southeast</label>
    @Html.RadioButtonFor(model => model.Region, "Southeast")
    </div>
    
    <div class="col-md-3">
    @Html.LabelFor(model => model.Ethnicity, new { @class="label"})
    @Html.TextBoxFor(model => model.Ethnicity)
    </div>

    <div class="col-md-2">
    @Html.LabelFor(model => model.Parent, new { @class="label" })
    <label for="yes">Yes</label>
    @Html.RadioButtonFor(model => model.Parent,"Yes", true)
    <label for="no">No</label>
    @Html.RadioButtonFor(model => model.Parent,"No", false)
    </div>
  </div>


    <input type="submit" value="Add new Response" class="btn btn-default" />
}
@* <p>@Html.ActionLink("Show all Questions", "Index")</p> *@

