@{
  Layout = "_Layout";
}

@model AudionClient.Models.UserResponse;

<div class="card" style="width: 700px;">
  <div class="card-header">
    <h3>@Html.DisplayName("Response")</h3>
  </div>
  <div class="card-body">
    <p>❝@Html.DisplayFor(model => model.Text)❞</p>
    <hr>
    <h5>Information about User:</h5>
    <ul>
      <li>Region: @Html.DisplayFor(model => model.Region)</li>
      <li>Ethnicity: @Html.DisplayFor(model => model.Ethnicity)</li>
      <li>Gender: @Html.DisplayFor(model => model.Gender)</li>
      <li>Parent: @Html.DisplayFor(model => model.Parent)</li>
    </ul>  
    <p style="text-align: right;">⌛@Html.DisplayFor(model => model.Timestamp)</p>
  </div>
  <hr />
  <p>@Html.ActionLink("Back to Question", "Details", "Questions", new { id = Model.QuestionId }, new {@class="btn btn-danger"})
  @Html.ActionLink("Edit Response", "Edit", new { id = Model.ResponseId }, new {@class="btn btn-danger"})
  @Html.ActionLink("Delete Response", "Delete", "Responses", new {questionId = Model.QuestionId, responseId = Model.ResponseId}, new {@class="btn btn-danger"})</P>
</div>