@{
  Layout = "_Layout";
}

@model AudionClient.Models.UserResponse;

<h2>Response Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Text): @Html.DisplayFor(model => model.Text)</h3>

<p>@Html.ActionLink("Back to Responses", "Index")</p>
<p>@Html.ActionLink("Edit Response", "Edit", new { id = Model.ResponseId })</p>

@Html.ActionLink("Delete Response", "Delete", "Responses", new {questionId = Model.QuestionId, responseId = Model.ResponseId}, new {@class="btn btn-danger"})